@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: black;
}
.navbar-mainbg {
  background-color: white;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
  color: black;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
  color: gray;
}
#navbarSupportedContent ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: white;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: black;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
  /*   color:white; */
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
/* ------Section1 HOME--------- */

.d-flex {
  height: 80vh;
  background-color: black;
}

/* #homeLeft {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(54, 52, 52));
} */

#homeSection {
  /* display: flex; */
  flex-direction: row;

  overflow: hidden;
  margin: 0;
  height: 80vh;
  perspective: 65em;
  /* perspective-origin: 50% calc(50%-25em); */
  background: black;
  /* background: linear-gradient(90deg, rgb(54, 52, 52), rgb(0, 0, 0)); */
}

#description {
  color: white;
}

#homeSection div {
  position: fixed;
  top: 50%;
  left: 70%;
  transform-style: preserve-3d;
}

.maindiv {
  transform: rotateY(50deg) translate3d(0, -10em, 5em);
  animation: move 7s linear infinite;
}

@keyframes move {
  to {
    transform: rotateY(-25deg) translate3d(0, 6em, 0);
  }
}

.bar {
  transform-origin: 0 2.5em 0;
  animation: grow 7s cubic-bezier(0.19, 1, 0.23, 1) infinite;
}
.bar:nth-child(1) {
  margin-left: -15em;
  transform: scaleY(1);
  color: #079b2e;
}
.bar:nth-child(2) {
  margin-left: -7.5em;
  transform: scaleY(2);
  color: #079b2e;
}
.bar:nth-child(3) {
  margin-left: 0em;
  transform: scaleY(2.5);
  color: #079b2e;
}
.bar:nth-child(4) {
  margin-left: 7.5em;
  transform: scaleY(2.7);
  color: #079b2e;
}
.bar:nth-child(5) {
  margin-left: -15em;
  transform: scaleY(3);
  color: #079b2e;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  }
}

.face {
  margin: -2.5rem;
  width: 5em;
  height: 5em;
  backface-visibility: hidden;
  background: currentColor;
}
.face:nth-child(n + 2):before {
  content: "";

  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0.1;
  background: inherit;
}
.face:nth-child(1) {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(2.5em);
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.face:nth-child(2) {
  transform: rotate3d(0, 1, 0, -90deg) translateZ(2.5em);
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.face:nth-child(3) {
  transform: rotate3d(0, 1, 0, 0deg) translateZ(2.5em);
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
}
.face:nth-child(4) {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(2.5em);
  -webkit-filter: brightness(0.55);
  filter: brightness(0.55);
}

/************************************************* SECTION 2  BLOG CSS  CARD 1  */

/* * {
  box-sizing: border-box;
} */
/* body {
  background: #f1f1f1;
  margin: 2rem;
} */

#cardSection {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgb(24, 22, 22),
    rgb(0, 0, 0)
  );
}
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
/* * {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
} */
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cardCustom {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .cardCustom {
    height: 350px;
  }
}
.cardCustom:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.cardCustom:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.cardCustom:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.cardCustom:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.cardCustom:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.cardCustom:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.btnCustom {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btnCustom:hover {
  background-color: #0d0d0d;
}
.btnCustom:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
  .cardCustom:after {
    transform: translateY(0);
  }
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .cardCustom:hover,
  .cardCustom:focus-within {
    align-items: center;
  }
  .cardCustom:hover:before,
  .cardCustom:focus-within:before {
    transform: translateY(-4%);
  }
  .cardCustom:hover:after,
  .cardCustom:focus-within:after {
    transform: translateY(-50%);
  }
  .cardCustom:hover .content,
  .cardCustom:focus-within .content {
    transform: translateY(0);
  }
  .cardCustom:hover .content > *:not(.title),
  .cardCustom:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .cardCustom:focus-within:before,
  .cardCustom:focus-within:after,
  .cardCustom:focus-within .content,
  .cardCustom:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* -----------ABOUT---------- */
#about {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0),
    rgb(24, 22, 22),
    rgb(0, 0, 0)
  );
}

/* ***********************************************************FOOTER    */
#main-footer {
  background: black;
}

#iconLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
#twitter,
#facebook {
  font-size: 1.5rem;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 11px 14px;
  margin: 0 15px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
